.home__section-steps-left {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  opacity: 0; /* Initial opacity set to 0 */
  animation: slideInAnimation 1s ease-in-out forwards; /* Animation added */
}

.home__section-steps-left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 10px;
  max-width: 500px;
  margin-right: 100px;
}

.home__section-steps-left-container-header {
  text-align: center;
  color: #6a00ffc1;
  font-size: 50px;
  opacity: 0;
transform: translateY(50px);
animation: fadeInUp 2s ease-out forwards;
}

.home__section-steps-left-container-p {
  font-size: 18px;
  text-align: center;
  opacity: 0;
transform: translateY(50px);
animation: fadeInUp 2s ease-out forwards;
}

.home__section-steps-right-container {
  /* flex: 1; */
  text-align: right;
}

.home__section-steps-right-container-img {
  max-width: 400px; /* Adjust the size as needed */
  height: auto;
  animation: imageAnimation 1s ease-in-out infinite alternate;
  margin-bottom: 50px;
}

@keyframes imageAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes slideInAnimation {
  0% {
    opacity: 0; /* Start with opacity set to 0 */
    transform: translateX(-100px); /* Start position outside the viewport */
  }
  100% {
    opacity: 1; /* End with opacity set to 1 */
    transform: translateX(0); /* End position at 0 translation */
  }
}

/* opacity: 0;
transform: translateY(50px);
animation: fadeInUp 1s ease-out forwards; */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1100px) {
  .home__section-steps-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 40px 40px;
  }

  .home__section-steps-left-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .home__section-steps-left-container-header {
    font-size: 70px;
  }

  .home__section-steps-left-container-p {
    font-size: 24px;
  }
}
