.form {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 30px;
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
  }
  
  .form_title {
    margin-bottom: 50px;
  }
  
  .form_fieldset {
    margin-bottom: 50px;
  }
  
  .form_input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
  }
  
  .form_button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #6a00ffc1;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .form_button:hover {
    background-color: #555;
  }
  