.additional-services {
  background: transparent;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s ease-out forwards;
}

.additional-services__title {
  text-align: center;
  color: #000000c1;
  font-size: 50px;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s ease-out forwards;
}

.additional-services__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.additional-services__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.additional-services__items {
  margin-bottom: 24px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (min-width: 1024px) {
  .additional-services__items {
    display: flex;
    margin-bottom: 2rem;
  }
}
