/* Contact.css */

.contact_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh; /* or you can adjust it to your needs */
  background: url("/public/images/content-marketing.jpg") no-repeat center
    center/cover;
  color: white; /* set the text color that contrasts with your background */
}

/* 
.contact-h1,
.contact-h2,
.contact-h3 {
  position: relative;
  z-index: 2;
  max-width: 600px;
  margin: 0 auto;
  padding: 1em 0;
  text-align: center;
  line-height: 1.5;
} */

.contact-h1 {
  font-size: 2em;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  align-items: center;
}

.contact-h2 {
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  margin: 10px;
  text-align: center;
}

.contact-h3 {
  font-size: 1.2em;
  max-width: 500px;
  color: rgb(255, 255, 255);
  margin: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

@media (max-width: 768px) {
  /* adjust this value as needed */
  .contact-h1 {
    font-size: 2em;
  }

  .contact-h2 {
    font-size: 1.2em;
  }

  .contact-h3 {
    font-size: 1em;
  }
}

@media (max-width: 400px) {
  .contact_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; /* or you can adjust it to your needs */
    color: white; /* set the text color that contrasts with your background */
  }

  .contact-h1 {
    margin-top: 10px;
    font-size: 20px;
  }

  .contact-h2 {
    font-size: 10px;
    margin: 2px;
  }

  .contact-h3 {
    font-size: 10px;
    margin: 2px;
  }
}
