.home {
  /* width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.home__section-one {
  width: 100%;
  height: 300px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s ease-out forwards;
}

.home__section-one-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s ease-out forwards;
}

.home__section-one-h1 {
  max-width: 1200px;
  font-size: 50px;
  font-weight: 700;
  color: #212529;
  /* padding: 0 40px; */
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s ease-out forwards;
}

.home__section-one-p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #212529;
  max-width: 1200px;
  /* padding: 0 40px; */
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s ease-out forwards;
}

/* opacity: 0;
transform: translateY(50px);
animation: fadeInUp 1s ease-out forwards; */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 800px) {
  .home__section-one {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .home__section-one-container {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .home__section-one-h1 {
    font-size: 30px;
  }
  .home__section-one-p {
    font-size: 15px;
  }
}
