.form {
  background-color: rgba(160, 160, 160, 0.608);
  color: black;
  max-width: 100%;
  min-width: 1vw;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.form_button {
  /* width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 1s, color 2s; */
  padding: 8px 20px;
  border-radius: 4px;
  /* outline: solid; */
  border: none;
  cursor: pointer;
  /* margin-bottom: 40px; */
  /* margin-top: 10px; */
  background-color: var(--primary);
  border: 1px solid var(--primary);
  background-color: transparent;
  color: #ffffff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  padding: 8px 20px;
  font-size: 1rem;
}

.form_button:hover {
  background: white;
  color: #242424;
  transition: all 0.3s ease-out;
}

.form_title {
  margin-bottom: 5px;
  color: black;
}

.form_fieldset {
  margin-bottom: 20px;
  width: 100%;
  border: none;
}

.form_input,
textarea {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}

.consent-container {
  display: flex;
  align-items: center;
}

.form_message {
  margin-top: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  transition: background-color 1s, color 2s;
}

.consent-container {
  margin-left: 10px;
}

@media screen and (max-width: 700px) {
  .form {
  }

  .form_title {
    /* margin: 5px; */
  }

  .form_fieldset {
  }

  .form_input,
  textarea {
  }

  .form_button {
  }

  .form_button:hover {
  }

  .consent-container {
  }

  .consent-container {
  }
}
