.form {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  max-width: 100%;
min-width: 1vw;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  
}

.form_title {
  margin-bottom: 40px;
  color: black;
}

.form_fieldset {
  margin-bottom: 20px;
  width: 100%;
  border: none;
}

.form_input,
textarea {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}

.consent-container {
  display: flex;
  align-items: center;
}

.consent-container {
  margin-left: 10px;
}

@media screen and (max-width: 700px) {
  .form {
  }

  .form_title {
  }

  .form_fieldset {
  }

  .form_input,
  textarea {
  }

  .form_button {
  }

  .form_button:hover {
  }

  .consent-container {
  }

  .consent-container {
  }
}
