.hero__container {
  /* height: calc(100vh - 44px); */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: row;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
  overflow: hidden;
}

.hero-home-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero__container_items {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  max-width: 1200px;
}

.hero__container_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* width: 60%; */
  max-width: 600px;
  object-fit: auto;
  margin: 10px;
  max-width: 600px;
}

.hero__container_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  text-align: center;
  /* width: 40%; */
  object-fit: contain;
  margin: 10px;
}

.hero__container_left > h1 {
  margin-top: 8px;
  color: #ffffffc1;
  font-size: 3rem;
  font-weight: bold;
  font-style: normal;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero__container_left > h2 {
  margin-top: 8px;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 100;
}

.hero__container_left > p {
  margin-top: 8px;
  color: #ffffff;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 100;
}

.hero__container_right_img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  max-height: 600px;
}

.hero-btns {
  margin: 10px;
}

.hero-btns > .btn {
  /* margin: 6px; */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1100px) {
  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 40px 40px;
    /* margin-top: 50px; */
  }

  .hero__container_right {
    /* display: none; */
  }
  .hero__container_items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero__container_left > h1 {
    font-size: 2rem;
  }

  .hero__container_left > h2 {
    font-size: 2rem;
  }
  .hero__container_left > p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .hero__container {
    height: calc(
      100vh - 88px
    ); /* Subtract the height of the navbar and next element */
  }

  .hero__container_left > h1 {
    font-size: 1.5rem;
  }

  .hero__container_left > h2 {
    font-size: 1.5rem;
  }
  .hero__container_left > p {
    font-size: 1rem;
  }
}
